body {
    background-color: #000;
    margin: 0px;
    overflow: hidden;

    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
}

.info {
    text-align: center;

    position: absolute;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.link-bar {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#loader {
    margin-top: 20%;
}

.disclaimer {
    margin-top: 1em;
    color: gray;
}

#hint-text {
    position: absolute;
    /*right: 270px;*/
    width: 100%;
    top: 10px;
    text-align: center;
    font-weight: normal;
    color: #cccccc;
}

#effect-readout {
    position: absolute;
    left: 56px;
    bottom: 72px;
    color: #f3f3f3;
    font-family: "Times New Roman", serif;
    font-style: italic;
    text-shadow: 0 0 14px rgba(0, 0, 0, 0.75);
    pointer-events: none;
}

#effect-readout > div {
    font-size: 62px;
    font-weight: normal;
    line-height: 1.1;
}

#spin-label.is-disabled {
    opacity: 0.35;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}

.initially-hidden {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .hidden-phone {
        visibility: hidden;
    }

    #effect-readout {
        left: 16px;
        bottom: 54px;
    }

    #effect-readout > div {
        font-size: 30px;
    }
}
